# ─── Versiones ───
KAFKA_IMAGE=confluentinc/cp-kafka:7.4.0
CH_IMAGE=clickhouse/clickhouse-server:latest
GRAFANA_IMAGE=grafana/grafana:latest

# ─── Kafka ───
KAFKA_PORT=9092
KAFKA_PORT_EXT=29092
KAFKA_CPU_LIMIT=1
KAFKA_MEM_LIMIT=1.5G
KAFKA_HEAP_OPTS="-Xms512M -Xmx1G"
CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

# ─── ClickHouse ───
CH_HTTP_PORT=8123
CH_NATIVE_PORT=9000
CH_USER=monitoreo
CH_PASS=monitoreo_dev
CH_DB=bunna_monitoreo
CH_CPU_LIMIT=1
CH_MEM_LIMIT=2G

# ─── Grafana ───
GRAFANA_PORT=3000
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
GF_INSTALL_PLUGINS=grafana-clickhouse-datasource
GRAFANA_CPU_LIMIT=0.5
GRAFANA_MEM_LIMIT=256M

# ─── General ───
ENV=prod
PLACEMENT_CONSTRAINT=node.role == worker
