POSTGRES_USER=fincas_user
POSTGRES_PASSWORD=fincas_pass_dev
POSTGRES_DB=bunna_fincas
DB_HOST=localhost
DB_PORT=5432
DB_USER=fincas_user
DB_PASSWORD=fincas_pass_dev
DB_NAME=bunna_fincas
DB_SSLMODE=disable
JWT_SECRET=supersecreto_dev_cambiar_en_prod
JWT_ISSUER=bunna-identidad
SERVER_PORT=8082
GIN_MODE=debug
